.registration,.choiceDom {
    margin-left: 20px;
    margin-top: 20px;
}

 #name{
    margin-left: 24px;
}

#weight{
    margin-left: 27px;
    margin-top: 13px;
} 

.registrationNext {
    margin-top: 15px;
}



